.old-container {
  background-color: #DAD1B4;
  max-width: 100vw;
  overflow-x: hidden;
}

.old-seconde-div-container {
  background-color: #DAD1B4;
  width: 100vw;
}

.old-nuage-container {
  max-width: 100%;
  height: 100%;
}

.old-nuage-haut-gauche-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  animation: nuageg 10s linear forwards; /* Animation de déplacement */
}

@keyframes nuageg {
  0% {
    transform: translate(0vw, 0vw) rotate(0deg); /* Point de départ */
  }
  100% {
    transform: translate(-100vw , 0vw) rotate(0deg); /* Point d'arrivée */
  }
}

@keyframes nuaged {
  0% {
    transform: translate(0vw, 0vw) rotate(0deg); /* Point de départ */
  }
  100% {
    transform: translate(200vw , 0vw) rotate(0deg); /* Point d'arrivée */
  }
}

.old-nuage-haut-gauche-container img {
  width: auto;
  height: 60vh;
}

.old-nuage-haut-droite-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  overflow: hidden;
}

.old-nuage-haut-droite-container img {
  width: auto;
  height: 80vh;
  animation: nuaged 14s linear forwards; /* Animation de déplacement */
}

.old-nuage-bas-gauche-container {
  position: absolute;
  top: 30vh;
  left: 0;
  z-index: 100;
  animation: nuageg 5s linear forwards; /* Animation de déplacement */
}

.old-nuage-bas-gauche-container img {
  width: 80vw;
  height: auto;
}

.old-main-div {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 10;
}

// img de fond

.old-main-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// logo merli retour home

.old-return-btn {
  position: absolute;
  z-index: 800;
}

.old-return-btn img {
  height: 4rem;
  width: auto;
  margin: 30px 40px;
}

// titre

.old-main-title {
  position: absolute;
  bottom: 10px;
  right: 40px;
  z-index: 800;
}

.old-main-title h1{
  font-family: 'Tangerine', cursive;
  font-weight: bold;
  font-size: 5rem;
  color: #26231e;
  text-shadow: 3px 2px 3px #ffffff80;
  text-align: center;
}

.old-container footer {
  background-color: #26231E !important;
}

.old-all-text-all-picture-container {
  position: relative;
}

.old-all-text-all-picture-top-shadow {
  content: "";
  background: linear-gradient(180deg, rgba(38,35,30,0) 0%, rgba(218,209,180,1) 100%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 90;
}

#oldButtonContainer {
  position: sticky;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 2s ease;
  padding: 40px;
}

#oldButtonContainer a {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#oldButtonContainer a img {
  width: 70%;
  height: 70%;
  opacity: 0.3;
}

#oldButtonContainer.show {
  opacity: 1;
  transition: opacity 2s ease;
}
