.old-text-container {
  position: relative;
  z-index: 10;
  padding: 20vh 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.old-text-container p {
  font-family: 'Tangerine', cursive;
  font-weight: bold;
  color: #26231e;
  font-size: 3.5rem;
  text-align: center;
  padding: 3rem;
  margin: 0;
  text-shadow: 2px 2px 3px #f9f9f9;
}
