// ====================== Activites =========================

.home-activites-div {
  background-color: $bleu;
  min-height: 100vh;
  position: relative;
}

.home-activites-trait-anti-bug {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: $sable;
}

.home-activites-vague-haut img {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
}

.home-activites-swim {
  position: absolute;
  top: 10%;
  left: 20%;
  z-index: 2;
}

.home-activites-swim p {
  font-size: 6rem;
  text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
}

.home-activites-swim img {
  width: 96px;
  height: auto;
}

.home-activites-surf {
  position: absolute;
  top: 10%;
  right: 20%;
  z-index: 2;
}

.home-activites-surf p {
  font-size: 6rem;
  text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
}

.home-activites-surf img {
  width: 96px;
  height: auto;
}

// activites titre

.home-activites-title-and-title-shadow {
  padding-top: 15vh;
  padding-bottom: 10vh;
}

.home-activites-title-shadow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.25;
}

.home-activites-title-shadow h1 {
  color: #fff;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 6rem;
}

.home-activites-title {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.home-activites-title h1 {
  color: #fff;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 5rem;
  transform: translateY(50px);
}

.home-activites-subtitle {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
  transform: translateY(50px);
  color: #fff;
}

// top five


.visuallyhidden {
  position: absolute;
  z-index: -1;
  right: 0;
  opacity: 0;

}

.home-activite-container {
  overflow: hidden;
  padding: 20px;
  margin-bottom: 4vh;
}

.home-activite-card-carousel {
  --card-width: 80%;
  --card-max-width: 280px;
  --card-height: 350px;
  --carousel-min-width: 600px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter .3s ease;
}

@media screen and (max-width: 640px) {
  .home-activite-card-carousel {
    margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
  }
}

.home-activite-card-carousel.smooth-return {
  transition: all .2s ease;
}

.home-activite-card-carousel .card {
  width: var(--card-width);
  max-width: var(--card-max-width);
  text-align: center;
  padding: 1em;
  min-width: 250px;
  height: var(--card-height);
  position: absolute;
  margin: 0 auto;
  transition: inherit;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  border-radius: 10px;
  filter: brightness(.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 250, 205, 0.3);
  border: 1px solid rgba(102, 154, 46, 0.25);
  border-right: 1px solid rgba(102, 154, 46, 0.1);
  border-bottom: 1px solid rgba(102, 154, 46, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(25px);
  overflow: hidden;
  color: #fff;
}

.activite-title {
  font-size: 1.3rem;
}

.home-activite-card-carousel .card a {
  color: #0260a4;
  background-color: #fffacd;
  z-index: 10;
  padding: 8px 16px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.home-activite-card-carousel .card a:hover {
  padding: 8px 24px;
  transform: translateY(-2px);
}

.home-activite-card-carousel .card::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}

.card.highlight {
  filter: brightness(1)
}



.image-container {
  width: 8em;
  height: 8em;
  position: relative;
  background-size: cover;
  margin-bottom: 2em;
  border-radius: 100%;
  padding: 1em;
  -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);

}

.image-container::after {
  content: "";
  display: block;
  width: 120%;
  height: 120%;
  border: solid 3px #FFFAC2B2;
  border-radius: 100%;
  position: absolute;
  top: calc(-10% - 0px);
  left: calc(-10% - 0px);
}

// boue button

.home-activites-button {
  z-index: 2;
}

.home-activites-button-img-container {
  display: flex;
  justify-content: center;
}

.home-activites-button img {
  width: 20vh;
}
