// ====================== Activites =========================

.home-activites-div {
  background-color: $bgbleu;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(0deg, rgba(0,124,215,0.66) 0%, rgba(0,124,215,1) 35%, rgba(0,124,215,0.66) 100%);

}

.home-activites-trait-anti-bug {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
}


.home-activites-swim {
  position: absolute;
  top: 10%;
  left: 20%;
  z-index: 2;
}

.home-activites-swim p {
  font-size: 6rem;
  text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
}

.home-activites-swim img {
  // width: 96px;
  height: auto;
}

.home-activites-surf {
  position: absolute;
  top: 10%;
  right: 20%;
  z-index: 2;
}

.home-activites-surf p {
  font-size: 6rem;
  text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
}

.home-activites-surf img {
  // width: 96px;
  height: auto;
  animation: wavetransAnimation 20s infinite;

}

// activites titre

.home-activites-title-and-title-shadow {
  padding-top: 0vh;
  padding-bottom: 7vh;
}

.home-activites-title-shadow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.25;
}

.home-activites-title-shadow h1 {
  color: #fff;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 6rem;
}

.home-activites-title {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.home-activites-title h1 {
  color: #fff;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 5rem;
  transform: translateY(50px);
}

.home-activites-subtitle {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
  transform: translateY(50px);
  color: #fff;
  font-family: 'ABeeZee', sans-serif;
  font-size: 2rem;
  color: $sable;
  margin-bottom: 0;
}

// ================ Carrousel top 5 =============================


.visuallyhidden {
  position: absolute;
  z-index: -1;
  right: 0;
  opacity: 0;

}

.home-activite-container {
  // overflow: hidden;
  padding: 20px;
  margin-bottom: 2vh;
}

.home-activite-card-carousel {
  --card-width: 30%;
  --card-max-width: 50vw;
  --card-height: 60vh;
  --carousel-min-width: 300px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter .3s ease;
}

@media screen and (max-width: 640px) {
  .home-activite-card-carousel {
    margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
  }
}

.home-activite-card-carousel.smooth-return {
  transition: all .2s ease;
}


// =========== All card =============================

.home-activite-card-carousel .card {
  width: var(--card-width);
  max-width: var(--card-max-width);
  text-align: center;
  padding: 1em;
  min-width: 250px;
  height: var(--card-height);
  position: absolute;
  margin: 0 auto;
  transition: inherit;
  // -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  // -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  // box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  // border-radius: 10px;
  filter: brightness(.9);
  filter: opacity(.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: rgba(255, 250, 205, 0.3);
  // border: 1px solid rgba(102, 154, 46, 0.25);
  // border-right: 1px solid rgba(102, 154, 46, 0.1);
  // border-bottom: 1px solid rgba(102, 154, 46, 0.1);
  // border-radius: 10px;
  // backdrop-filter: blur(25px);
  background-color: transparent;
  // overflow: hidden;
  color: #fff;
  font-family: 'ABeeZee', sans-serif;
  background-color: rgba(95, 158, 160, 0);
  border: none;
}

.cardbgcontainer {
  position: absolute;
  height: 100%;
  width: 100%;
}

// =========== One card activite =============================

.cardbg {
  position: relative;
  height: 100%;
  width: 100%;
}

.cardbg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.3;
}

.image-container {
  // width: 8em;
  // height: 8em;
  width: 14em;
  height: 14em;
  position: relative;
  background-size: cover;
  margin-bottom: 2em;
  border-radius: 100%;
  padding: 1em;
  -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);

}

.image-container::after {
  content: "";
  display: block;
  width: 120%;
  height: 120%;
  border: solid 3px #FDFDFDB2;
  border-radius: 100%;
  position: absolute;
  top: calc(-10% - 0px);
  left: calc(-10% - 0px);
  background-color: #ffffff7a;
  z-index: -1;
}

.card-div-image {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: carrouPicAnimation 6s infinite;
}


.card-div-text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  animation: carrouTextAnimation 6s infinite;
}

.activite-title {
  font-size: 2.5rem;
  padding: 2rem;
  margin: 0;
}

.card p {
  z-index: 10;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  display: block ruby;
}


.home-activite-card-carousel .card a {
  color: #ffffff;
  z-index: 10;
  padding: 8px 16px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  font-size: 1.1rem;
  font-family: 'ABeeZee', sans-serif;
  border: 2px solid #fff;
  background-color: #208ad9b0;
  position: relative;

}

.home-activite-card-carousel .card a:hover {
  transform: translateY(-5px);
}



// =========== Item parallax autour de l activite ======================

// ----------- dans chaque card item / container de l image ----------------------
.card-item-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
}

// ----------- premier item (central) ----------------------

.card-item-one {
  content: '';
  position: absolute;
  top: 0;
  left: 40%;
  height: 100%;
  width: 50%;
  transform: translateX(-50%);
  animation: carrouItemOneAnimation 8s infinite;
}


.card-item-one img {
  height: 100%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}


// --- modif de l angle de l image 1 (central)



// Acti 1 golf
.card-un .card-item-one img {
  transform: translate(-50%, -50%) rotate(-34deg);
}

// Acti 2 nautique
.card-deux .card-item-one img {
  transform: translate(-50%, -50%) rotate(-100deg);
}

// Acti 3 baga
.card-trois .card-item-one img {
  opacity: .9;
  height: 80%;
  left: 58%;
}

// Acti 5 petanque
.card-cinq .card-item-one img {
  transform: translate(-50%, -50%) rotate(40deg);
}










// ----------- Deuxime item (bas droite) ----------------------

.card-item-two {
  content: '';
  position: absolute;
  bottom: 20%;
  left: 84%;
  height: 90px;
  width: 90px;
  // background-color: #d48338;
  transform: translateX(-50%);
  animation: carrouItemTwoFiveAnimation 6s infinite;
}

.card-item-two img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: hue-rotate(-7deg);
}

// --- modif de l angle de l image 2 (Bas Droite)

// Acti 1 golf
.card-un .card-item-two img {
  transform: translate(-50%, -50%) rotate(121deg);
}

// Acti 2 nautique
.card-deux .card-item-two img {
  width: 200%;
}

// ----------- Troisieme item (haut droite) ----------------------


.card-item-three {
  content: '';
  position: absolute;
  top: 10%;
  right: 0;
  height: 90px;
  width: 90px;
  // background-color: #d1d438;
  transform: translateX(-50%);
  animation: carrouItemThreeAnimation 9s infinite;
}

.card-item-three img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// --- modif de l angle de l image 3 (Haut Droite)



// Acti 1 golf
.card-un .card-item-three img {
  // rien
}

// Acti 2 nautique
.card-deux .card-item-three img {
  transform: translate(-50%, -50%) rotate(-70deg);
  width: 150%;
}

// Acti 3 baga
.card-trois .card-item-three img {
  transform: translate(-50%, -50%) rotate(13deg);
  top: 44%;
}




// ----------- Quatrieme item (bas gauche) ----------------------

.card-item-four {
  content: '';
  position: absolute;
  bottom: 10%;
  left: 0;
  height: 90px;
  width: 90px;
  // background-color: #48d438;
  transform: translateX(-50%);
  animation: carrouItemThreeAnimation 5s infinite;
}

.card-item-four img {
  width: 200%;
  height: auto;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// --- modif de l angle de l image 4 (Bas Gauche)

// Acti 1 golf
.card-un .card-item-four img {
  transform: translate(-50%, -50%) rotate(-50deg);
}

// Acti 2 nautique
.card-deux .card-item-four img {
  transform: translate(-50%, -50%) rotate(110deg);
  filter: hue-rotate(220deg);
  width: 260%;
}

// ----------- Cinquieme item (haut gauche) ----------------------

.card-item-five {
  content: '';
  position: absolute;
  top: 10%;
  left: 0;
  height: 90px;
  width: 90px;
  // background-color: #38d4cc;
  transform: translateX(-50%);
  animation: carrouItemTwoFiveAnimation 10s infinite;
}

.card-item-five img {
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// --- modif de l angle de l image 5 (Haut gauche)

// Acti 1 golf
.card-un .card-item-five img {
  // rien
}

// Acti 2 nautique
.card-deux .card-item-five img {
  width: 100%;
}


// ================ card cental position

.card.highlight {
  filter: brightness(1);
  filter: opacity(1);
}



// boué button

.home-activites-button {
  z-index: 2;
}



.home-activites-button-img-container {
  display: flex;
  justify-content: center;
}

.home-activites-button img {
  width: 20vh;
  transition: all 0.3s ease-in-out;
}

.home-activites-button img:hover {
  transform: translateY(-10px);
}
