// ====================== Activites =========================

.home-activites-div {
  background-color: $bleu;
  min-height: 100vh;
  position: relative;
}

.home-activites-trait-anti-bug {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: $sable;
}

.home-activites-vague-haut img {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
}

.home-activites-swim {
  position: absolute;
  top: 10%;
  left: 20%;
  z-index: 2;
}

.home-activites-swim p {
  font-size: 6rem;
  text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
}

.home-activites-swim img {
  width: 96px;
  height: auto;
}

.home-activites-surf {
  position: absolute;
  top: 10%;
  right: 20%;
  z-index: 2;
}

.home-activites-surf p {
  font-size: 6rem;
  text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
}

.home-activites-surf img {
  width: 96px;
  height: auto;
}

// activites titre

.home-activites-title-and-title-shadow {
  padding-top: 15vh;
  padding-bottom: 10vh;
}

.home-activites-title-shadow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.25;
}

.home-activites-title-shadow h1 {
  color: #fff;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 6rem;
}

.home-activites-title {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.home-activites-title h1 {
  color: #fff;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 5rem;
  transform: translateY(50px);
}

// top five

.home-activites-top-five {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.home-activites-top-five-little {
  height: 300px;
  width: 350px;
  content: "";
  background-color: $sable;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
}

.home-activites-top-five-little img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-activites-top-five-medium {
  height: 400px;
  width: 350px;
  content: "";
  background-color: $sable;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
}

.home-activites-top-five-medium img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-activites-top-five-large {
  height: 500px;
  width: 350px;
  content: "";
  background-color: $sable;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
}

.home-activites-top-five-large img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// boue button

.home-activites-button {
  z-index: 2;
}

.home-activites-button-img-container {
  display: flex;
  justify-content: center;
}

.home-activites-button img {
  width: 20vh;
}
