// ==================== Grosse vague (div unique) ================

.vague-emplacement-top {
  position: absolute;
  bottom: 0;
}

.vague-emplacement-top img {
  width: 100vw;
  height: auto;
  opacity: 0.66;
}




.home-emplacement-surfer {
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 2;
}


.home-emplacement-surfer img {
  width: 56px;
  height: auto;
  opacity: 1;
}

// ======================== Emplacement div =================

.home-emplacement-div {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(180deg, $bgbleu 0%, $bleu 100%);
}

.home-emplacement-div  .test-home-title-container {
  height: auto;
}


.home-emplacement-div h1 {
  color: #fff;
}


.home-emplacement-div h1 {
  color: #fff !important;
}

.home-emplacement-div .home-presentation-cerfvolant {
  z-index: -1;
  bottom: -17%;
  top: 77% !important;
}


.home-emplacement-div .home-presentation-cerfvolant img {
  filter: grayscale(0.8) brightness(1.2);
  opacity: 54%;
}

.home-emplacement-map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.home-emplacement-map img{
  width: 60%;
  height: auto;
  z-index: 3;
}

.home-emplacement-div .home-activite-button-container {
  padding-bottom: 3rem;
}

.home-emplacement-bulle {
  position: absolute;
  top: 25%;
  left: 4rem;
}

.home-emplacement-bulle img {
  width: 80%;
  height: auto;
}

.home-emplacement-algues {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.home-emplacement-algues img {
  width: 100%;
  height: auto;
}

.home-emplacement-boat {
  position: absolute;
  top: 0;
  right: 5rem;
}

.home-emplacement-boat p {
  font-size: 6rem;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.home-emplacement-boat img {
  width: 96px;
  height: auto;
}

// map
.home-map {
  width: 80%;
  height: 500px;
  position: relative;
  z-index: 100;
}

.home-map i {
  color: #50a2e3;
  font-size: 2rem;
}

// pop up

.mapboxgl-popup {
  max-width: 200px;
  color: #fff;
}

.mapboxgl-popup .mapboxgl-popup-content {
  background-color: #50a2e3;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.home-flat-title {
  font-size: 1.3rem;
}

.mapboxgl-popup .mapboxgl-popup-content a {
  color: #fff;
  border: none !important;
  font-size: 1.1rem;
  text-decoration: underline;
}

.mapboxgl-popup .mapboxgl-popup-content .mapboxgl-popup-close-button {
  background-color: transparent;
  border: 0;
  border-radius: 0 3px 0 0;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 0;
  color: #fff;
}

.mapboxgl-popup-tip {
  border-top-color: #3977aa !important;
}
