// ======================= Logement =====================

.home-logements-div {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.home-emplacement-para {
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 2;
}

.home-emplacement-para img {
  width: 89px;
  height: auto;
}



.home-emplacement-para p {
  font-size: 6rem;
  text-shadow: 40px 90px 30px rgba(0, 0, 0, 0.35);
}



.home-logement-vague-haut {
  position: absolute;
  top: 0;
}


.home-logement-vague-haut img {
  width: 100vw;
  height: auto;
  opacity: 0.66;
}

.home-logement-title-and-title-shadow {
  padding-top: 10rem;
}

.home-logement-title-shadow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.25;
}

.home-logement-title-shadow h1 {
  color: $bleu;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 6rem;
}

.home-logement-title {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.home-logement-title svg {
  height: 205px;
  width: 570px;
}

.home-logement-title text {
  color: $bleu;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 5rem;
  -webkit-text-stroke: 0.6rem rgb(255, 255, 255); /* contour du text */
  paint-order: stroke fill; /* mettre le contour deriere le text */
  transform: translateY(50px);

}

.home-logement-categories-container {
  display: flex;
  justify-content: center;
  width: 100%; /* Largeur de la grille */
  padding: 4rem 0 4rem 0;
  position: relative;
  z-index: 2;
}



.home-btn-logement-boue-container {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}

.home-btn-logement-boue-container img {
  width: 20vh;
  filter: drop-shadow(12px 6px 12px rgba(0, 0, 0, 0.4));
  transition: all 0.5s;
}

.home-btn-logement-boue-container img:hover {
  transform: translateY(-10px);
  filter: drop-shadow(12px 6px 12px rgba(0, 0, 0, 0.53));

}
