// ======================= Logement =====================

.home-logements-div {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.home-emplacement-para {
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 2;
}

.home-emplacement-para img {
  width: 89px;
  height: auto;
}



.home-emplacement-para p {
  font-size: 6rem;
  text-shadow: 40px 90px 30px rgba(0, 0, 0, 0.35);
}



.home-logement-vague-haut {
  position: absolute;
  top: 0;
}


.home-logement-vague-haut img {
  width: 100vw;
  height: auto;
  opacity: 0.66;
}



.home-logement-title-and-title-shadow {
  padding-top: 10rem;
}

.home-logement-title-shadow {
  position: absolute;
  left: 50%;
  // transform: translateX(-50%);
  transform: translateY(-40px) translateX(-50%);
  opacity: 0.25;
}

.home-logement-title-shadow h1 {
  color: #023646d6;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 6rem;
}

.home-logement-title {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.home-logement-title h1 {
  color: #023646d6;;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 5rem;
}

.home-logement-title svg {
  height: 205px;
  width: 570px;
}

.home-logement-title text {
  color: $bleu;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 5rem;
  -webkit-text-stroke: 0.6rem rgb(255, 255, 255); /* contour du text */
  paint-order: stroke fill; /* mettre le contour deriere le text */
  transform: translateY(50px);

}

.home-logement-categories-container {
  display: flex;
  justify-content: center;
  width: 100%; /* Largeur de la grille */
  padding: 4rem 0 4rem 0;
  position: relative;
  z-index: 2;
}

:root {
  --card-height: 350px;
  --card-width: calc(var(--card-height) / 1.5);
}



.home-logement-grid-container {
  width: 96%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
  gap: 40px;
}

.home-logement-grid-container a {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cardtest {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  // margin: 0 50px;
}

.wrapper {
  transition: all 0.7s;
  position: absolute;
  width: 100%;
  z-index: -1;
  border-radius: 10px;
  // outline: 3px solid $sableHumide;
  box-shadow: 6px 12px 12px 0px rgba(0, 0, 0, 0.53);

}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;

}



.cardtest:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  outline: none;
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19, 0.5) 97%
  );
  border-radius: 10px 10px 0 0;
}

.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(12, 13, 19, 0.5) 50%,
    rgba(12, 13, 19, 0.5) 97%
  );
  border-radius: 0 0 10px 10px;
}

.cardtest:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.cardtest:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.cardtest:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.cardtest:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}




.home-btn-logement-boue-container {
  display: flex;
  justify-content: center;
  padding-bottom: 8rem;
}

.home-btn-logement-boue-container img {
  width: 20vh;
  filter: drop-shadow(12px 6px 12px rgba(0, 0, 0, 0.4));
  transition: all 0.5s;
  padding-bottom: 5rem;
}

.home-btn-logement-boue-container img:hover {
  transform: translateY(-10px);
  filter: drop-shadow(12px 6px 12px rgba(0, 0, 0, 0.53));

}
