// ================= Home Permiere Div video =========================



.hero-video {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


.hero-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

// --------- kite un

.home-video-circle-container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  // transform: rotate(-45deg) translate(-50%, -50%);
  height: 150vh;
  width: 150vh;
  // border-radius: 50%;
  // background-color: $bleu;
  animation: rotateCircle 15s linear forwards; /* Animation de rotation infinie */
}


@keyframes rotateCircle {
  from {
    transform: translate(-50%, -50%) rotate(-180deg); /* Rotation de départ */
  }
  to {
    transform: translate(-50%, -50%) rotate(180deg); /* Rotation complète (360 degrés) */
  }
}

.home-video-circle {
  position: relative;
  width: 100%;
  height: 100%;
}

.kite {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 100px;
  width: auto;
  opacity: 0.9;
}

.kite img{
  height: 70px;
  width: auto;
  transform: rotate(100deg);
}

// --------- kite deux

.home-video-circle-container-deux {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  // transform: rotate(-45deg) translate(-50%, -50%);
  height: 150vh;
  width: 150vh;
  // border-radius: 50%;
  // background-color: $bleu;
  animation: rotateCircleDeux 15s linear forwards; /* Animation de rotation infinie */
  animation-delay: 10s;
}

@keyframes rotateCircleDeux {
  from {
    transform: translate(-50%, -50%) rotate(360deg); /* Rotation de départ */
  }
  to {
    transform: translate(-50%, -50%) rotate(0deg); /* Rotation complète (360 degrés) */
  }
}

.home-video-circle-deux {
  position: relative;
  width: 100%;
  height: 100%;
}

.kite-deux {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 100px;
  width: auto;
  opacity: 0.9;
}

.kite-deux img{
  height: 70px;
  width: auto;
  transform: rotate(60deg);
}

// --------- kite trois un ----------

.home-video-circle-container-trois-un {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  height: 150vh;
  width: 150vh;
  animation: rotateCircle 15s linear infinite;
  animation-delay: 20s;
}

.home-video-circle-trois-un {
  position: relative;
  width: 100%;
  height: 100%;
}

.kite-trois-un {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 100px;
  width: auto;
  opacity: 0.9;
}

.kite-trois-un img{
  height: 70px;
  width: auto;
  transform: rotate(100deg);
}
// --------- kite trois deux ----------
.home-video-circle-container-trois-deux {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  height: 150vh;
  width: 150vh;
  animation: rotateCircle 15s linear infinite;
  animation-delay: 21s;
}

.home-video-circle-trois-deux {
  position: relative;
  width: 100%;
  height: 100%;
}

.kite-trois-deux {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 100px;
  width: auto;
  opacity: 0.9;
}

.kite-trois-deux img{
  height: 70px;
  width: auto;
  transform: rotate(100deg);
}
// --------- kite trois trois ----------

.home-video-circle-container-trois-trois {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  height: 150vh;
  width: 150vh;
  animation: rotateCircle 15s linear infinite;
  animation-delay: 22s;
}

.home-video-circle-trois-trois {
  position: relative;
  width: 100%;
  height: 100%;
}

.kite-trois-trois {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 100px;
  width: auto;
  opacity: 0.9;
}

.kite-trois-trois img{
  height: 70px;
  width: auto;
  transform: rotate(100deg);
}



.avion {
  position: absolute;
  right: -400px;
  top: 20%;
  animation: deplacement 10s linear forwards; /* Animation de déplacement */
  animation-delay: 15s;
}

.avion img {
  height: 50px;
  width: auto;
}

@keyframes deplacement {
  0% {
    transform: translate(0vw, 0vw) rotate(0deg); /* Point de départ */
  }
  100% {
    transform: translate(-100vw , 0vw) rotate(0deg); /* Point d'arrivée */
  }
}

// nav
.home-nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px;
  position: relative;
  z-index: 2;
}

.home-nav a {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 2rem;
  -webkit-text-stroke: 5px rgba(255, 255, 255, 0);
  paint-order: stroke fill;
  color: #00559100;
}

.home-nav-right-new {
  display: flex;
  align-items: center;
}

.home-nav-right-new svg {
  margin: 0 20px;
  fill: #33f2c6;
}


.home-nav-right-new svg a{
  font-family: 'Amatic SC', sans-serif !important;
  letter-spacing: .1rem !important;
  font-size: 2rem !important;
  -webkit-text-stroke: 5px rgb(255, 255, 255) !important;
  paint-order: stroke fill !important;
  color: #005491 !important;
}

.home-nav-right-new svg {
  height: 39px;
}

.galn {
  width: 80px;
}

.webn {
  width: 84px;
}

.faunen {
  width: 152px;
}

.foisn {
  width: 180px;
}

.aboutn {
  width: 93px;
}



.home-nav-left a {
  padding: 0 20px;
  color: $bleu;
}

.home-nav-left img {
  height: 4rem;
  width: auto;
}

.home-nav-right {
  position: absolute;
  z-index: -2;
}
.home-nav-right a {
  // padding: 0 20px;
  font-family: 'Amatic SC', sans-serif;
  letter-spacing: .1rem;
}


// img dunes
.home-dunes {
  position: absolute;
  bottom: 10%;
}

.home-dunes img {
  width: 100%;
  height: auto;
}

.home-bas-dunes {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(180deg,#fffacd 0%,#f0ecbe 100%);
}

.home-bas-dunes img {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  transform: translateY(10%);
  z-index: 3;
}


.home-fondu-haut {
  position: absolute;
  top: 0;
  height: 15vh;
  width: 100%;
  content: "";
  background: linear-gradient(0deg, rgba(32, 33, 36, 0) 0%, rgba(104, 164, 216, 0.72) 100%);
}

.home-fondu-bas {
  position: absolute;
  bottom: 0;
  height: 15vh;
  width: 100%;
  content: "";
  background: linear-gradient(180deg, rgba(32,33,36,0) 0%, rgb(29, 230, 245) 100%);
}



// Fin Home Permiere Div
