

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

// cursor

.test-home-page .textsvg {
  width: 100px;
  position: absolute;
  -webkit-animation: rotation 4.5s infinite linear;
          animation: rotation 4.5s infinite linear;
  pointer-events: none;
  -webkit-transition: top 1s, left 1s;
  -o-transition: top 1s, left 1s;
  transition: top 1s, left 1s;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: 1000;
}

.test-home-page text {
  font-size: 4em;
  font-family: 'Poppins';
  font-weight: bold;
  fill: #023646dc;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}


//

.test-home-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url("/assets/home/sablebg.png");
  background-color: #fff;
}

//

.test-home-first-div {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: sans-serif;
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.svg-container {
  height: 100%;
  width:  100%;
  position: absolute;
}

.test-home-first-div .svg-container path {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.test-home-first-div .svg-container path {
  -webkit-transform: scale(0.3);
      -ms-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.test-home-first-div .svg-container path {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(0, 70%) scale(0.3);
      -ms-transform: translate(0, 70%) scale(0.3);
          transform: translate(0, 70%) scale(0.3); /* Ajout de translate(-50%, -50%) */
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}


.test-home-first-div .videocontainer{
  position: absolute;
  width: 100%;
  height: 100%;
}

.block-du-m {
  position: absolute;
  width: 100%;
  height: 100%;
}

.test-home-first-div .wrapperr {
  position: relative;
  width: 65%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}

.wrapper-du-m {
  position: relative;
  width: 65%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lems {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-content-du-m {
  position: relative;
  content: "";
  -webkit-animation: waveVideoAnimation 10s infinite;
          animation: waveVideoAnimation 10s infinite;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}


.svg-du-m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.svg-du-m img {
  -webkit-transform: translate(0%, -21.7%) scale(0.3);
      -ms-transform: translate(0%, -21.7%) scale(0.3);
          transform: translate(0%, -21.7%) scale(0.3);
  -webkit-transform: translate(0%, 8.6%) scale(0.3);
      -ms-transform: translate(0%, 8.6%) scale(0.3);
          transform: translate(0%, 8.6%) scale(0.3);
  -webkit-filter: blur(10px);
          filter: blur(10px);
  opacity: 0.5;
}

.test-home-first-div .videocontainer video {
  position: absolute;
  -webkit-filter: hue-rotate(7deg);
          filter: hue-rotate(7deg);
  -webkit-animation: waveVideoAnimation 10s infinite;
          animation: waveVideoAnimation 10s infinite;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}



.test-home-first-div .clipped-video {
  -webkit-clip-path: url(#textoverlay);
  clip-path: url(#textoverlay);
}


@media (max-width: 550px) {
  .test-home-first-div path {
    -webkit-transform: translate(25%, 70%) scale(0.2);
        -ms-transform: translate(25%, 70%) scale(0.2);
            transform: translate(25%, 70%) scale(0.2);
  }
}

// nav

.test-nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  margin: 30px 20px;
}

.test-nav a {
  padding: 0 20px;
  color: #023646;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1.4rem;
  text-shadow: 2px 2px 2px #02364621;
  text-shadow: 2px 2px 2px aliceblue;
  -webkit-filter: drop-shadow(2px 2px 2px #3f647029);
          filter: drop-shadow(2px 2px 2px #3f647029);


}

.test-nav-left {
  margin-left: 20px;
}

.test-nav-left img {
  height: 4rem;
  width: auto;
  -webkit-filter: drop-shadow(2px 2px 2px #02364670);
          filter: drop-shadow(2px 2px 2px #02364670);
}

.test-nav-right {
  margin-right: 20px;
}

.test-home-first-div .home-dunes {
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
  position: absolute;
  bottom: 10%;
}

.home-dunes img {
  width: 100%;
  height: auto;
}


.test-home-first-div .home-bas-dunes {
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#fffacd), to(#eceaea));
  background: -o-linear-gradient(top, #fffacd 0%, #eceaea 100%);
  background: linear-gradient(180deg, #fffacd 0%, #eceaea 100%);
  bottom: 0;
  width: 100%;
  height: 10%;
}

.home-bas-dunes img {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
          transform: translateY(10%);
  z-index: 3;
}
