// ====================== Home-presentaion-div =========================
.test-home-seconde-div {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("/assets/sablebg.png");
  background-color: #fff;
}

.test-home-page .test-home-seconde-div:hover text {
  fill: #fff;
}

// trace
.test-home-seconde-div .home-traces {
  position: absolute;
  top: 0;
  filter: grayscale(1);
  background: linear-gradient(0deg, rgba(38, 35, 30, 0) 0%, #f0ecbe 70%);
}

.test-home-seconde-div .home-traces img {
  filter: brightness(0.9);
  width: 100%;
  height: auto;
}

// title

.test-home-title-container {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}

.test-home-title-container h1 {
  color: #023646d6;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 5rem;
}

.test-home-title-container > h1 {
  color: #023646d6;
  z-index: 10;
  position: relative;
  text-shadow: 2px 2px 2px aliceblue;
  filter: drop-shadow(2px 2px 2px #3f647066);
  // color: #4E93D6;
}

.home-presentation-title-shadow {
  position: absolute;
  left: 50%;
  transform: translateY(-30px) translateX(-50%);
}

.home-presentation-title-shadow h1 {
  color: $bleu;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 6rem;
  opacity: 0.25;
}

.home-presentation-parasol-container h1 {
  color: #007CD7;
  opacity: 0.25;
  color: #023646d6;

}

.home-presentation-title-shadow img {
  filter: grayscale(.5);
}





.home-presentation-title svg {
  width: 400px;
  height: auto;
}

.home-presentation-title text {
  color: $bleu;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 5rem;
  -webkit-text-stroke: 0.6rem rgb(255, 255, 255);
  paint-order: stroke fill;
  transform: translateY(50px);

}

.home-presentation-parasol-container {
  position: relative;
}

.home-presentation-parasol {
  position: absolute;
  top: 0%;
  right: -1%;
  z-index: 2;
}



.home-presentation-parasol img {
  width: 48px;
  height: 48px;
}

.home-presentation-cerfvolant {
  position: absolute;
  top: 0%;
  right: -1%;
  z-index: 2;
}

.home-presentation-cerfvolant img {
  width: 48px;
  height: 48px;
  transform-origin: bottom left;
  animation: cerfvolantAnimation 3s infinite;
}

.home-presentation-parasol p {
  font-size: 3rem;
  text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
}

// presentation text et photo

.home-presentation-text-picture {
  display: flex;
  height: 100%;
  padding: 3rem 0 7rem 0;
}

.home-presentation-text {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.text-presentation {
  width: 80%;
  height: auto;
}

.home-presentation-text p {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 3vw;
  padding: 3rem 7rem 0rem 7rem;
  text-align: center;
  color: $sableHumide;
  -webkit-text-stroke: 0.4rem $sableSemiHumide;
  paint-order: stroke fill;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.home-presentaion-text-text {
  display: flex;
  justify-content: center;
}

.home-presentation-trace-trait {
  display: flex;
  justify-content: center;
}

.home-presentation-trace-trait img {
  width: 50%;
  height: auto;
}

.home-presentation-photo {
  width: 40%;
  display: flex;
  align-items: center;
}

.home-presentation-photo img {
  width: 80%;
  height: auto;
}

.home-activites-vague-haut {
  position: absolute;
  bottom: 0;
}

.home-activites-vague-haut img {
  width: 100vw;
  height: auto;
  opacity: 0.66;
}
