.logement-index-container {
  background-image: url("/assets/sablebg.png");
  background-color: #fff;
  min-height: 100vh;
  position: relative;
}

.logement-index-container .faune-return-btn {
  z-index: 100;
}

// titre

.logement-index-title {
  display: flex;
  justify-content: center;
  padding: 3rem 0 0 0;
  position: relative;
  width: 100%;
}

.logement-index-title h1 {
  font-family: "Gloria Hallelujah", cursive;
  color: $bleuMain;
  margin-top: 5rem;
}

.logement-index-shadow-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -66%);
  font-size: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #023646d6;
  opacity: .25;
}



.logement-index-block-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, 0%);

  font-size: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  text-shadow: $bleuMain -1px 6px 2px;
  color: #023646d6;
  z-index: 10;
  position: relative;
  text-shadow: 2px 2px 2px aliceblue;
  filter: drop-shadow(2px 2px 2px #3f647066);
}



//

.logement-index-container .activite-index-all-acti-container {
  margin-top: 3rem;
}




.logement-index-container .acti-ind-title {
  color: #023646d6;
  text-shadow: -1px 4px 1px aliceblue;
  filter: drop-shadow(2px 2px 1px #3f647066);
  position: relative;
  z-index: 1;
}

.logement-index-container .activite-index-une-acti img {
  background: #f0f0ef;
  filter: drop-shadow(#0236468a -1px 3px 4px);
}

.logement-index-container .activite-index-une-acti:hover img {
  filter: none;
  background: #f0f0ef;
  filter: drop-shadow(#02364643 -1px 3px 4px);

}

.acti-ind-cat-price-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: #fff0;
  // background-color: #14445224;
  border-radius: 10px;
  border: 1px solid #ffffff40;
  border-right: 1px solid #ffffff1a;
  border-bottom: 1px solid #ffffff1a;
  filter: drop-shadow(#02364699 0px 3px 4px);
  margin: 1.5rem 0;
}

.acti-ind-cat-price-container  p{
  font-size: 1.5rem;
  padding: 0 20px;
  margin: 0;
}
