.about-container {
  background-color: $sable;
  width: 100vw;
  min-height: 100vh;
}

// main div
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, $sable, transparent);
    z-index: 10000;
}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    filter: grayscale(1)
}

.about-main-text {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-main-text .about-text-sable-main
{
    position: absolute;
    color: #fff;
    font-size: 10em;
    z-index: 1;
    top: 80vh;
}



#mera {
  filter: hue-rotate(20deg) grayscale(0.2);
  transform: translateY(20px);
  opacity: 0.6;
}

#suna {
  filter: hue-rotate(0deg) blur(3px) grayscale(0.2);
}

#bga{
  filter: grayscale(0.3);
}

#dunesa{
  filter: grayscale(0.5);
}

#road
{
    z-index: 2;
}




.about-text-sable-main {
  position: absolute;
  top: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text-sable-main img:first-child {
  z-index: 100;
  position: relative;
  height: auto;
}

.about-text-sable-main img:second-child {
  padding: 4rem 0;
  z-index: 10;
  position: relative;
  height: auto;

}



.about-text-sable-main img {
  width: 50%;
  height: auto;
}

.about-retour {
  position: absolute;
  top: 1rem;
  left: 3rem;
}

.about-retour a {
  font-family: 'Amatic SC', sans-serif;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: .1rem;
}

// main end




.about-text-sable {
  display: flex;
  justify-content: center;
  padding: 15vh 0 5vh 0;
}

.about-text-sable img {
  width: 70%;
  height: auto;
}

.about-text-sable-role {
  display: flex;
  justify-content: center;
  padding: 20vh 0 10vh 0;
}

.about-text-sable-role:first-child {
  display: flex;
  justify-content: center;
  padding: 0 0 10vh 0;
}

.about-text-sable-role img {
  width: 30%;
  height: auto;
}

.about-trait-sable-container {
  display: flex;
  justify-content: center;
}

.about-trait-sable-container img {
  width: 35%;
  height: auto;
}

.about-presentation-container {
  content: "";
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30vh 0;
}

.about-presentation-container-first {
  content: "";
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.about-presentation-content {
  width: 90%;
  min-height: 100%;
  content: "";
  background-color: $sable;
  display: flex;
  box-shadow: 17px 40px 13px rgba(0, 0, 0, 0.13);
}
.about-presentation-left {
  width: 50%;
  height: 100%;
  // background-color: red;
  position: relative;
  display: flex;
  justify-content: center;
}

.about-presentation-left-image {
  height: 90%;
  width: 80%;
  position: relative;
  z-index: 100;
}

.about-presentation-left-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right center;

}

.about-presentation-left-background {
  background-color: $sableHumide;
  position: absolute;
  bottom: 0;
  height: 65%;
  width: 100%;

}

.about-presentation-right-container {
  width: 50%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Akaya Telivigala', cursive;
  background-color: rgba(255, 255, 255, 0.69);
  overflow: hidden;
  backdrop-filter: blur(25px);
}

.about-presentation-right-content {
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.role {
  font-size: 2rem;
  margin: 0;
}

.name {
  font-size: 3rem;
  color: rgb(255, 0, 251);
  margin: 0;
  text-transform: uppercase;
}

.description {
  font-size: 1.2rem;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

.about-presentation-right-content a {
  background-color: $sableHumide;
  padding: 1rem 2rem;
  color: #fff;
}

.about-mer-container img {
  width: 100vw;
  height: auto;
}

.about-collab {
  text-align: center;
  background-color: $bleu;
}

.about-collab p {
  margin-bottom: 0;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 3rem;
  padding: 4rem 7rem 7rem 7rem;
  color: #fff;
}

.about-contact {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  background-color: $bleu;
  font-family: 'Akaya Telivigala', cursive;
}

.about-contact p {
  color: #fff;
  padding: 1rem 3rem;
}

.about-contact {
  height: 10vh;
}
