.about-container {
  background-color: $sable;
}

.about-dunes-mer {
  // background-color: #fff;
  position: relative;
}

.about-dunes-mer img{
  width: 100vw;
}

.about-retour {
  position: absolute;
  top: 1rem;
  left: 3rem;
}

.about-retour a {
  font-family: 'Amatic SC', sans-serif;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: .1rem;
}

.about-moon-container {
  position: absolute;
  top: 10%;
  right: 40%;
}

.about-moon-container img{
  height: 30px;
  width: auto;
}

.about-text-sable {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.about-text-sable img {
  width: 80%;
  height: auto;
}

.about-trait-sable-container {
  display: flex;
  justify-content: center;
}

.about-trait-sable-container img {
  width: 50%;
  height: auto;
}

.about-presentation-container {
  content: "";
  height: 80vh;
  width: 100%;
  background-color: $sableHumide;
  display: flex;
  justify-content: center;
}

.about-presentation-content {
  width: 90%;
  height: 100%;
  content: "";
  background-color: $sable;
  display: flex;

}
.about-presentation-left {
  width: 50%;
  height: 100%;
  background-color: red;
  position: relative;
  display: flex;
  justify-content: center;
}

.about-presentation-left-image {
  height: 90%;
  width: 80%;
  background-color: green;
  position: relative;
  z-index: 100;
}

.about-presentation-left-background {
  background-color: purple;
  position: absolute;
  bottom: 0;
  height: 60%;
  width: 100%;

}

.about-presentation-right {
  width: 50%;
  height: 100%;
  background-color: rgb(242, 255, 0);
}

.about-mer-container img {
  width: 100vw;
  height: auto;
}

.about-collab {
  text-align: center;
  background-color: $bleu;
}

.about-collab p {
  margin-bottom: 0;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 3rem;
  padding: 4rem 7rem 7rem 7rem;
  color: #fff;
}

.about-contact {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  background-color: $bleu;
  font-family: 'Akaya Telivigala', cursive;
}

.about-contact p {
  color: #fff;
  padding: 1rem 3rem;
}
