.dash-container {
  color: #fff;
  background-image: url("/assets/sablebg.png");
  background-color: #fff;
  // font-family: 'Gloria Hallelujah', cursive;
}

.dash-container a {
  color: #023646d6;
  position: relative;
  text-shadow: 2px 2px 2px aliceblue;
  filter: drop-shadow(2px 2px 2px #3f647066);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

.dash-container i {
  color: #023646d6;
}


.dash-container a:hover {
  color: #fff;
}

.dash-title-container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.dash-title-container h2 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 5rem;
  color: #023646d6;
  z-index: 10;
  position: relative;
  text-shadow: 2px 2px 2px aliceblue;
  filter: drop-shadow(2px 2px 2px #3f647066);
}

.dash-activite-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
}

.dash-activite-title h1 {
  color: #023646d6;
  position: relative;
  text-shadow: 2px 2px 2px aliceblue;
  filter: drop-shadow(2px 2px 2px #3f647066);

}

.dash-activite-title h3 {
  color: #023646d6;
  position: relative;
  text-shadow: 2px 2px 2px aliceblue;
  filter: drop-shadow(2px 2px 2px #3f647066);
}

.dash-one-activitie-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dash-all-activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  backdrop-filter: blur(3px);
  background-color: #fff0;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #ffffff40;
  border-right: 1px solid #ffffff1a;
  border-bottom: 1px solid #ffffff1a;
  filter: drop-shadow(#02364699 0px 3px 4px);
}

.dash-one-activitie {
  display: flex;
  width: 100%;
  margin: 10px 0;
  padding: 0.3rem 0;
  justify-content: space-between;
  border-radius: 5px;
}

.dash-one-activitie:nth-child(even) {
  background-color: #132c33;
}

.dash-one-activitie:nth-child(odd) {
  background-color: #023646d6;
}

.dash-one-activite-modif {
  display: flex;
  align-items: center;
}


.dash-one-activitie  > * {
  margin: 0 30px;
}

.dash-one-activitie .dash-one-activite-modif  > * {
  margin: 0 30px;
}


.dash-logement-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
}
