.dash-title-container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

pre {
  padding: 10rem 0;
  background-color: #111;
  color: #08ee42;
  display: flex;
  justify-content: center;
}
