// Specific CSS for your home-page
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


// ================= Home Permiere Div =========================
// div container video

.hero-video {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

// video
.hero-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

// interieur de la video

// avion

.avion {
  position: absolute;
  right: 0;
  animation: deplacement 10s linear infinite; /* Animation de déplacement */
}

.avion img {
  height: 600px;
  width: auto;
}

@keyframes deplacement {
  from {
    right: -50%; /* Départ à droite (0%) */
  }
  to {
    right: 150%; /* Arrivée à gauche (100%) */
  }
}

// nav
.home-nav {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  position: relative;
  z-index: 2;
}

.home-nav a {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 2rem;
  -webkit-text-stroke: 5px rgb(255, 255, 255); // contour du text
  paint-order: stroke fill; // mettre le contour deriere le text
  color: #005491;
}





.home-nav-right a {
  padding: 0 20px;
}

// img dunes
.home-dunes {
  position: absolute;
  bottom: 0;
}

.home-dunes img {
  width: 100%;
  height: auto;
}


.home-fondu-haut {
  position: absolute;
  top: 0;
  height: 15vh;
  width: 100%;
  content: "";
  background: linear-gradient(0deg, rgba(32, 33, 36, 0) 0%, rgba(104, 164, 216, 0.72) 100%);
}

.home-fondu-bas {
  position: absolute;
  bottom: 0;
  height: 15vh;
  width: 100%;
  content: "";
  background: linear-gradient(180deg, rgba(32,33,36,0) 0%, rgb(29, 230, 245) 100%);
}


// Fin Home Permiere Div

//
// ====================== Home-presentaion-div =========================

.home-presentation-div {
  position: relative;
  min-height: 100vh;
  /* background-color: $sable; */
  background-color: $sable;
}

.home-traces {
  position: absolute;
  top: 0;
}

.home-traces img {
  width: 100%;
  height: auto;
}

.home-presentation-title-and-title-shadow {
  padding: 5vh 0;
}

.home-presentation-title-shadow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.25;
}

.home-presentation-title-shadow h1 {
  color: $bleu;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 6rem;
}

.home-presentation-title {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.home-presentation-title h1 {
  color: $bleu;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 5rem;
  -webkit-text-stroke: 0.6rem rgb(255, 255, 255); /* contour du text */
  paint-order: stroke fill; /* mettre le contour deriere le text */
  transform: translateY(50px);

}

// presentation text et photo

.home-presentation-text-picture {
  display: flex;
}

.home-presentation-text {
  width: 60vw;
  display: flex;
  flex-direction: column;
}

.home-presentation-text p {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 3vw;
  padding: 3rem 7rem 0rem 7rem;
  text-align: center;
  color: $sableHumide;
  -webkit-text-stroke: 0.4rem $sableSemiHumide; /* contour du text */
  paint-order: stroke fill; /* mettre le contour deriere le text */
}

.home-presentation-trace-trait {
  display: flex;
  justify-content: center;
}

.home-presentation-trace-trait img {
  width: 50%;
  height: auto;
}

.home-presentation-photo {
  width: 40%;
  display: flex;
  align-items: center;
}

.home-presentation-photo img {
  width: 80%;
  height: auto;
}



// ====================== Activites =========================

.home-activites-div {
  background-color: $bleu;
  min-height: 100vh;
  position: relative;
}

.home-activites-trait-anti-bug {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: $sable;
}

.home-activites-vague-haut img {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
}

// activites titre

.home-activites-title-and-title-shadow {
  padding-top: 15vh;
  padding-bottom: 10vh;
}

.home-activites-title-shadow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.25;
}

.home-activites-title-shadow h1 {
  color: #fff;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 6rem;
}

.home-activites-title {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.home-activites-title h1 {
  color: #fff;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 5rem;
  transform: translateY(50px);

  // -webkit-text-stroke: 0.6rem rgb(255, 255, 255); /* contour du text */
  // paint-order: stroke fill; /* mettre le contour deriere le text */
}

// top five

.home-activites-top-five {
  display: flex;
  align-items: center;
  padding: 3vh;
}

.home-activites-top-five-little {
  height: 40vh;
  width: 350px;
  content: "";
  background-color: $sable;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
}

.home-activites-top-five-little img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Redimensionne l'image pour remplir le conteneur sans déformation */
}

.home-activites-top-five-medium {
  height: 45vh;
  width: 350px;
  content: "";
  background-color: $sable;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
}

.home-activites-top-five-medium img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Redimensionne l'image pour remplir le conteneur sans déformation */
}

.home-activites-top-five-large {
  height: 50vh;
  width: 350px;
  content: "";
  background-color: $sable;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
}

.home-activites-top-five-large img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Redimensionne l'image pour remplir le conteneur sans déformation */
}

// boue button

.home-activites-button {
  // position: absolute;
  // bottom: 2vh;
  // left: 50%;
  z-index: 2;
  // transform: translate(-50%, 5vh);
}

.home-activites-button-img-container {
  display: flex;
  justify-content: center;
}

.home-activites-button img {
  width: 20vh;
}



// ======================= Logement =====================

.home-logements-div {
  min-height: 100vh;
  position: relative;
  background-color: $sable;
}

.home-logements-trait-anti-bug {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: $bleu;
}

.home-logement-vague-haut img {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
}

.home-logement-title-and-title-shadow {
  padding-top: 15vh;
  padding-bottom: 1vh;
}

.home-logement-title-shadow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.25;
}

.home-logement-title-shadow h1 {
  color: $bleu;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 6rem;
}

.home-logement-title {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.home-logement-title h1 {
  color: $bleu;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 5rem;
  -webkit-text-stroke: 0.6rem rgb(255, 255, 255); /* contour du text */
  paint-order: stroke fill; /* mettre le contour deriere le text */
  transform: translateY(50px);

}

// les categories

.home-logement-categories-container {
  display: flex;
  justify-content: space-around;
  margin-top: 7rem;
  position: relative;
  z-index: 2;
}

.home-logement-categories-owner-title {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 3vw;
  text-align: center;
  color: $sableHumide;
  -webkit-text-stroke: 0.4rem $sableSemiHumide; /* contour du text */
  paint-order: stroke fill; /* mettre le contour deriere le text */
  margin-bottom: 2rem;
}

.home-logement-categories-owner-picture {
  content: "";
  background-color: red;
  height: 300px;
  width: 300px;
  object-fit: cover; /* Redimensionne l'image pour remplir le conteneur sans déformation */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 150px 25px 150px 75px;
  box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
}

.home-logement-categories-owner-picture:hover {
  cursor: pointer;
  transition: 0.3s;
  border: #ACA885 solid 5px;
}

.home-logement-categories-owner-picture img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Redimensionne l'image pour remplir le conteneur sans déformation */
}


// ==================== Grosse vague (div unique) ================

// emplacement vague top

.vague-emplacement-top {
  background-color: $sable;
  position: relative;
  padding-top: 5vh;
}

.vague-emplacement-top img {
  width: 100vw;
  height: auto;
}

// ======================== Emplacement div =================

.home-emplacement-div {
  min-height: 100vh;
  position: relative;
  background-color: $bleu;
}

// emplacement titre

.home-emplacement-title-shadow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.25;
}

.home-emplacement-title-shadow h1 {
  color: #fff;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 6rem;
}

.home-emplacement-title {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.home-emplacement-title h1 {
  color: #fff;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 5rem;
  transform: translateY(50px);
  // -webkit-text-stroke: 0.6rem rgb(255, 255, 255); /* contour du text */
  // paint-order: stroke fill; /* mettre le contour deriere le text */
}




// ================ footer ==========================

.footer {
  height: 10vh;
  background-color: #00223A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  color: #fff;
}

.footer p {
  margin-bottom: 0;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.3rem;
}
