// Specific CSS for your home-page
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


// Home Permiere Div
// div container video

.hero-video {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

// video
.hero-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

// interieur de la video

// avion

.avion {
  position: absolute;
  right: 0;
  animation: deplacement 10s linear infinite; /* Animation de déplacement */
}

.avion img {
  height: 200px;
  width: auto;
}

@keyframes deplacement {
  from {
    right: -50%; /* Départ à droite (0%) */
  }
  to {
    right: 150%; /* Arrivée à gauche (100%) */
  }
}

// nav
.home-nav {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  position: relative;
  z-index: 2;
}

.home-nav a {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 2rem;
  -webkit-text-stroke: 5px rgb(255, 255, 255); // contour du text
  paint-order: stroke fill; // mettre le contour deriere le text
  color: #005491;
}



.home-nav-left a {

}

.home-nav-right a {
  padding: 0 20px;
}

// img dunes
.home-dunes {
  position: absolute;
  bottom: 0;
}

.home-dunes img {
  width: 100%;
  height: auto;
}


.home-fondu-haut {
  position: absolute;
  top: 0;
  height: 15vh;
  width: 100%;
  content: "";
  background: linear-gradient(0deg, rgba(32, 33, 36, 0) 0%, rgba(104, 164, 216, 0.72) 100%);
}

.home-fondu-bas {
  position: absolute;
  bottom: 0;
  height: 15vh;
  width: 100%;
  content: "";
  background: linear-gradient(180deg, rgba(32,33,36,0) 0%, rgb(29, 230, 245) 100%);
}


// Fin Home Permiere Div

//
// home-presentaion-div

.home-presentation-div {
  position: relative;
  height: 100vh;
  /* background-color: $sable; */
  background-color: $sable;
}

.home-traces {
  position: absolute;
  top: 0;
}

.home-traces img {
  width: 100%;
  height: auto;
}

.home-presentation-title-shadow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.25;
}

.home-presentation-title-shadow h1 {
  color: $bleu;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 6rem;
}

.home-presentation-title {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.home-presentation-title h1 {
  color: $bleu;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 5rem;
  -webkit-text-stroke: 0.6rem rgb(255, 255, 255); /* contour du text */
  paint-order: stroke fill; /* mettre le contour deriere le text */
}

// presentation text et photo

.home-presentation-text-picture {
  display: flex;
}

.home-presentation-text {
  width: 60vw;
  display: flex;
  flex-direction: column;
}

.home-presentation-text p {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 3vw;
  padding: 3rem 7rem 0rem 7rem;
  text-align: center;
  color: $sableHumide;
  -webkit-text-stroke: 0.4rem $sableSemiHumide; /* contour du text */
  paint-order: stroke fill; /* mettre le contour deriere le text */
}

.home-presentation-trace-trait {
  display: flex;
  justify-content: center;
}

.home-presentation-trace-trait img {
  width: 50%;
  height: auto;
}

.home-presentation-photo {
  width: 40%;
  display: flex;
  align-items: center;
}

.home-presentation-photo img {
  width: 80%;
  height: auto;
}
