.moncompte-container {
  min-height: 100vh;
  background-color: #0f2933;
  color: #fff;
  font-family: 'ABeeZee', sans-serif;
  position: relative;
}

.moncompte-retour-btn {
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-size: 1.3rem;
  position: absolute;
  top: 30px;
  left: 100px;
}

.moncompte-content {
  padding: 60px 60px 0 60px;
}

.moncompte-title {
  display: flex;
  flex-direction: column;;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.moncompte-title h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 6rem;
  margin-bottom: 2rem;
  color: $vertFaune;
}

.moncompte-title p {
  font-size: 1.5rem;
}

.user-status {
  color: $vertFaune;
  font-size: 1.5rem;
}

.moncompte-ajout-faune {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.moncompte-ajout-faune a {
  color: #fff;
  text-decoration: none;
  background-color: $vertFaune;
  padding: 6px 12px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
}


// toutes les recherche
.moncompte-all-faune-container h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  font-family: 'Amatic SC', cursive;
  color: $vertFaune;
  font-size: 4rem;
}

.user-recherche-count {
  font-size: 2rem;
  margin-left: 1rem;
}
