.testcontainer {
  box-sizing: border-box;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  background: gray;
  background-color: $sable;
  background-image: url("https://www.transparenttextures.com/patterns/grey-sandbag.png");
}

//

.body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url(https://design2seo.com/assets/blog/svg-clipping/home_intro_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  font-family: sans-serif;
  color: white;
}
.body .wrapperr {
  position: relative;
  width: 65%;
  height: 30%;
  margin: 0 auto;
}
.body video {
  width: 100%;
  height: auto;
}
.body .clipped-video {
  -webkit-clip-path: url(#text-overlay);
  clip-path: url(#text-overlay);
}
.body svg {
  display: block;
  position: absolute;
  top: 0;
}
.body text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18vw;
}
