.univers-container {
  width: 100vw;
  min-height: 100vh;
  background-color: #262520;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.univers-container
{
    background: $sable;
    min-height: 1500px;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, $sable, transparent);
    z-index: 10000;
}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.about-main-text {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-main-text .about-text-sable-main
{
    position: absolute;
    color: #fff;
    font-size: 10em;
    z-index: 1;
    top: 80vh;
}

.about-contact {
  height: 10vh;
}

#mera {
  filter: hue-rotate(20deg);
}

#suna {
  filter: hue-rotate(-9deg);
}

#road
{
    z-index: 2;
}
