.activite-show-container {
  background-image: url("/assets/sablebg.png");
  background-color: #fff;
  background-color: $bleu;
  height: 100vh;
  min-height: 100vh;
  position: relative;
}

.activite-show-container .faune-return-btn {
  z-index: 100;
}

.faune-return-btn i {
  height: 4rem;
  width: auto;
  margin: 40px 40px;
  font-size: 3rem;
}


// title

.activite-show-title {
  display: flex;
  justify-content: center;
  padding: 0 0 0 0;
  position: relative;
  width: 100%;
}

.activite-show-title h1 {
  font-family: "Gloria Hallelujah", cursive;
  color: $bleuMain;
  margin-top: 5rem;
  font-size: 4rem;
}

.activite-show-shadow-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.activite-show-block-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #fff !important;
  width: 100%;
  display: flex;
  justify-content: center;
  text-shadow: $bleuMain -1px 6px 2px;
}

// show pic


.activite-show-pic-text-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  // padding: 6rem 0 0 0;
}

.activite-show-pic-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.activite-show-pic-container > img {
  border-radius: 50%;
  width: 450px;
  height: 450px;
  object-fit: cover;
  outline: 3px solid #fff;
  background-color: #ffffff7a;
  padding: 20px;
  filter: drop-shadow(#023646 -1px 3px 4px);
  background-color: #ffffff3b;
  position: relative;
  z-index: 10;
  animation: waveRegularAnimation 5s infinite;
}
// 1
.activite-show-pic-container-star-content {
  position: absolute;
  top: 0;
  left: 50%;
  width: 64px;
  z-index: 1;
}

.activite-show-pic-container-star-content img {
  width: 100%;
  height: auto;
  // transform: translate(-50%, 144%);
  opacity: .5;
}

// 2
.activite-show-pic-container-star-content-deux {
  position: absolute;
  top: 66%;
  left: 26%;
  width: 64px;
  z-index: 1;
}

.activite-show-pic-container-star-content-deux img {
  width: 100%;
  height: auto;
  transform: translate(-50%, 112%) rotate(-10deg);
  opacity: .5;
}

// 3
.activite-show-pic-container-star-content-trois {
  position: absolute;
  top: 60%;
  left: 17%;
  width: 64px;
  z-index: 1;
}

.activite-show-pic-container-star-content-trois img {
  width: 100%;
  height: auto;
  transform: translate(-50%, 112%) rotate(22deg);
  filter: hue-rotate(317deg);
  opacity: .5;
}

.activite-show-text-container {
  width: 50%;
  display: flex;
  align-items: center;
  // align-items: center;
  padding: 6rem 0 0 0;
  flex-direction: column;
  color: #fff;
  font-size: 1.3rem;



}

.activite-show-text-content {
  background-color: rgba(255, 255, 255, 0.149);
  padding: 0px 20px;
  position: relative;
  // box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(3px);
  // filter: drop-shadow(#023646 0px 4px 1px);
  height: fit-content;
  filter: drop-shadow(#02364699 0px 3px 4px);
  z-index: 10;
  background-color: rgba(44, 159, 227, 0.59);
  background-color: #023646;
  background-color: #ffffff2b;
  background-color: #fff0;
  width: 410px;
  min-height: 410px;
  padding-top: 15px;
  width: 70%;
}

.activite-show-text-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
  transform: skewX(-15deg);
}

.activite-show-text-container-content {
  width: fit-content;
  height: fit-content;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.activite-show-cta-container {
  position: relative;
  display: flex;
  z-index: 100;
  // rotate: 90deg;
  width: 100%;
  transform: translate(0%, 8%);
  border-radius: 5px;
  justify-content: space-around;
}

.activite-show-cta-content {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff00;
  backdrop-filter: blur(3px);
  outline: 1px solid #fff9;
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(-1px 2px 2px #023646);
}

.activite-show-cta-content:hover {
  transform: translate(0%, -12px);
  // padding-bottom: 15px;
  cursor: pointer;
}

.activite-show-cta-container p {
  height: fit-content;
}

.activite-show-cta-container i {
  transform: translateY(50%);
  color: #ffffffe3;
}



.activite-show-text-container-star-content-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
}

.activite-show-text-container-star-content-top img {
  width: 100%;
  height: auto;
  transform: translate(50%, -50%);
}

.activite-show-text-container-star-content-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 110px;
}

.activite-show-text-container-star-content-bottom img {
  width: 100%;
  height: auto;
  transform: translate(-50%, 50%) rotate(50deg);
  filter: hue-rotate(317deg);
}


.activite-show-text {
  font-family: "Gloria Hallelujah", cursive;
  color: #fff;
  font-size: 1.3rem;
  filter: drop-shadow(#023646 0px 4px 1px);
}

.show-div-text {
  margin: 2rem 1rem 2rem 1rem;
}

.show-p-title {
  display: inline-block;
  border-bottom: 2px solid #ffffff5c;
  margin-bottom: .7rem !important;
  display: flex;
  justify-content: center;
  padding-bottom: .3rem !important;
  font-size: 1.3rem !important;
  font-family: "Gloria Hallelujah", cursive !important;
}

.show-div-text p {
  padding: 0rem;
  margin: 0rem;
  font-family: 'ABeeZee', sans-serif;

  color: #fff;
  filter: drop-shadow(0px 3px 8px #02364673);

  font-size: 1.1rem;
  text-shadow: #023646 -2px 2px 5px;
}

.show-div-ligne {
  display: flex;
  justify-content: space-between;
}

.show-jour {
  padding-right: 1rem !important;
}
