.activite-show-container {
  background-image: url("/assets/sablebg.png");
  background-color: #fff;
  background-color: $bleu;
  height: 100vh;
  position: relative;
}


.activite-show-title {
  display: flex;
  justify-content: center;
  padding: 0 0 0 0;
  position: relative;
  width: 100%;
}

.activite-show-title h1 {
  font-family: "Gloria Hallelujah", cursive;
  color: $bleuMain;
  margin-top: 5rem;
}

.activite-show-shadow-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.activite-show-block-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #fff !important;
  width: 100%;
  display: flex;
  justify-content: center;
  text-shadow: $bleuMain -1px 6px 2px;
}


.activite-show-pic-text-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 6rem 0 0 0;
}

.activite-show-pic-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activite-show-pic-container img {
  border-radius: 50%;
  width: 450px;
  height: 450px;
  object-fit: cover;
  outline: 3px solid #fff;
  background-color: #ffffff7a;
  padding: 20px;
  filter: drop-shadow(#023646 -1px 3px 4px);
}

.activite-show-text-container {
  width: 50%;
  display: flex;
  align-items: center;
  // align-items: center;
  padding: 6rem 0 0 0;
  flex-direction: column;
  color: #fff;
  font-size: 1.3rem;
  filter: drop-shadow(#023646 0px 4px 1px);


}

.activite-show-text {
  font-family: "Gloria Hallelujah", cursive;
  color: #fff;
  font-size: 1.3rem;
  filter: drop-shadow(#023646 0px 4px 1px);
}
