.espece-show-container {
  background-color: #0F2933;
  color: #fff;
  font-family: 'ABeeZee', sans-serif;
  position: relative;
  min-height: 100vh;
}

.espece-show-back {
  position: absolute;
  top: 30px;
  left: 100px;
  z-index: 2;
}

.espece-show-back a {
  font-size: 1.5rem;
}

.espece-show-update-delte-btn {
  position: absolute;
  right: 1rem;
  z-index: 2;
  display: flex;
}

.espece-show-update-delte-btn a {
  padding: 8px 16px;
  border-radius: 0 0 10px 10px;
}

.espece-show-update-delte-btn a:first-child{
  margin-right: 1rem;
}

.espece-show-modif {
  background-color: orange;
  transition: all 0.4s ease-in-out;
}

.espece-show-modif:hover {
  background-color: blueviolet;
}

.espece-show-supp {
  background-color: red;
}

.espece-show-container a {
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-size: 1.3rem;
}

.espece-show-title {
  display: flex;
  justify-content: center;
  padding: 4rem 0 4rem 0;
}

.espece-show-title h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 7rem;
  color: $vertFaune;
}

.espece-show-desc-pic {
  z-index: 2;
  position: relative;
  display: flex;
}

.espece-show-desc {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  height: fit-content;
}

.espece-show-desc-parag {
  width: 80%;
  display: flex;
  font-size: 1.4rem;
}

.espece-show-desc p::before {
  content: "";
  display: block;
  border-left: 2px solid #fff;
  padding-left: 30px; /* Espacement de 30px à gauche */
}

.espece-show-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  max-height: 70%;
}

.espece-show-pic img {
  width: 70%;
  height: auto;
  border: 7px solid #fff;
  object-fit: cover;
  max-height: 500px;
}

.show-hauteherbe {
  position: absolute;
  bottom: 0;
}

.show-hauteherbe img {
  width: 100vw;
  height: auto;
  opacity: .3;
}
