<div class="about-container">
  <div class="about-dunes-mer">
    <%= image_tag('about/dunesciel.svg') %>
  </div>

  <div class="about-text-sable">

    <p>
      Bienvenue sur notre site dédié à Merlimont !
      <br><br>
      Nous sommes deux passionnés de ce magnifique village qu'est Merlimont, et c'est avec une profonde affection pour cet endroit que nous avons décidé de créer ce site.
      <br><br>
      En tant que développeurs, nous avons consacré du temps et de l'énergie pour partager gratuitement notre amour pour Merlimont à travers cette plateforme.
      <br><br>
      Nous voulions offrir un espace où les visiteurs et les habitants de Merlimont pourraient trouver des informations pratiques, des astuces locales et une immersion virtuelle dans la beauté de cet endroit sans pareil.
      <br><br>
      Nous espérons que vous apprécierez votre visite et que notre amour pour Merlimont transparaîtra à travers chaque détail de cette plateforme.
      <br><br>
      Bienvenue dans notre humble contribution à la célébration de Merlimont !
      <br><br>
    </p>

  </div>
</div>
