<div class="faune-home-container">
  <div class="faune-main-div">

    <%= image_tag "faune/faune_main.jpg", class:"faune-main-background" %>

    <div class="faune-main-text-container">
      <div class="faune-main-title">
        <h1>Faune & Flore</h1>
      </div>

      <div class="faune-main-trait"></div>

      <div class="faune-main-subtitle">
        <p>Merlimont, joyau de la côte d'Opale,

        <br>vous dévoile sa biodiversité riche et variée.</p>
      </div>
    </div>

    <div class="faune-main-three-pic">
    </div>

  </div>
</div>
