<div class="faune-main-div">

  <%= image_tag "faune/faune_main.jpg", class:"old-main-background" %>


  <div class="faune-main-title">
  </div>

  <div class="faune-main-trait">
  </div>

  <div class="faune-main-subtitle">
  </div>

  <div class="faune-main-three-pic">
  </div>

</div>
