<div class="home-nav">

</div>

<div class="hero-video">
  <%= video_tag "mainvideo.mp4", type: "video/mp4", autoplay: true, loop: true, muted: true, id: "home-videoo", preload: "auto", playsinline: true %>
</div>

<div class="home-first-div">

</div>
