<div class="old-main-div">
  <%= image_tag "avant/oldmain.jpg", class:"old-main-background" %>
  <div class="old-return-btn">
    <%= link_to root_path do %>
      <%= image_tag('home/MerlimontB.png') %>
    <% end %>
  </div>
</div>
