<div class="old-main-div">
  <%= image_tag "avant/oldmain.jpg", class:"old-main-background" %>
  <div class="old-return-btn">
    <%= link_to root_path do %>
      <%= image_tag('home/MerlimontB.png') %>
    <% end %>
  </div>
</div>

<div class="old-picture-div-sec">
</div>

<div class="old-picture-div">

  <div class="carrev-container">
    <div class="carrev"></div>
  </div>

  <div class="carrer-container">
    <div class="carrer"></div>
  </div>

  <div class="les-futur-photo">
    <div class="carre"></div>
    <div class="carred"></div>
    <div class="carre"></div>
    <div class="carred"></div>
    <div class="carre"></div>
    <div class="carred"></div>
    <div class="carre"></div>
    <div class="carred"></div>
    <div class="carre"></div>
    <div class="carred"></div>
    <div class="carre"></div>
    <div class="carred"></div>
    <div class="carre"></div>
    <div class="carred"></div>
    <div class="carre"></div>
    <div class="carred"></div>
  </div>



</div>

<div class="old-picture-div-sec">
</div>
