
<div class="old-main-div">

  <%= image_tag "avant/oldmain.jpg", class:"old-main-background" %>

  <div class="old-return-btn">
    <%= link_to root_path do %>
      <%= image_tag('home/MerlimontB.png') %>
    <% end %>
  </div>

  <div class="old-main-title">
    <h1>Il était une fois à Merlimont...</h1>
  </div>

</div>

<div class="old-picture-div-sec">
  <p>Au cours des dernières décennies, la petite commune de Merlimont a vu son visage évoluer d'une manière tout à fait remarquable.
  <br><br>Empreinte des souvenirs et des histoires d'antan...</p>
</div>

<div class="old-picture-div">

  <div class="carrev-container">
    <div class="carrev"></div>
  </div>

  <div class="carrer-container">
    <div class="carrer"></div>
  </div>

  <div class="les-futur-photo">
    <div class="carre"></div>
    <div class="carred"></div>
    <div class="carre"></div>
    <div class="carred"></div>
    <div class="carre"></div>
    <div class="carred"></div>
    <div class="carre"></div>
    <div class="carred"></div>
    <div class="carre"></div>
    <div class="carred"></div>
    <div class="carre"></div>
    <div class="carred"></div>
    <div class="carre"></div>
    <div class="carred"></div>
    <div class="carre"></div>
    <div class="carred"></div>
  </div>



</div>

<div class="old-picture-div-sec">
</div>
