<div class="moncompte-container">
  <div class="moncompte-content">

    <div class="moncompte-title">
      <h1>moncompte</h1>
    </div>

    <% if @user && @user.admin? %>
      <p>vous êtes admin</p>
    <% else %>
      vous êtes claque
    <% end %>


    <div class="moncompte-ajout">
      <%= link_to "ajouter une nouvelle recherche", new_faune_path %>
    </div>

    <div class="moncompte-liste">
      <h2>mes recherches en faune</h2>

        <div class="userdash-all-faune">
          <% if @user_recherche.present? %>
            <% @user_recherche.each do |animal| %>
              <div class="userdash-one-activitie">
                <%= animal.nom %>
                <p><%= animal.description %></p>
                <% if animal.photo.attached? %>
                  <p>Avec image</p>
                <% else %>
                  <p>sans image</p>
                <% end %>
                <%= link_to "voir l'animal", faune_path(animal) %>
              </div>
            <% end %>
          <% else %>
            <p>Aucun animal trouvé.</p>
          <% end %>
        </div>

  </div>
</div>
