<div class="univers-container">
  <div class="univers-content">
    <form action="" id="form">

      <input type="email" id="user_email" name="user[email]">
      <input type="password" id="user_password" name="user[password]">
      <input type="password" id="user_password_confirmation" name="user[password_confirmation]">

      <input type="submit">
    </form>
  </div>
</div>
