  <h1>Pages des Activités</h1>

    <% @activites.each do |activite| %>
        <strong><%= activite.title %></strong>
        <p><%= activite.description %></p>
        <%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
