<div class="biotop-form-container">

  <div class="biotop-form-titre">
    <h1>Ajoutez votre biotope</h1>
  </div>

  <div class="biotop-form-formulaire-container">
    <div class="biotop-form-formulaire">
      <%= simple_form_for @biotop do |f| %>
        <div class="biotop-form-input-input">
          <%= f.input :categorie, placeholder: 'Nom', label: "Nom du nouveau Biotope" %>
        </div>

        <div class="biotop-form-input">
          <%= f.button :submit, value: 'Validation' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="biotop-herbe-espece">
    <%= image_tag('faune/hauteherbe.png') %>
  </div>

</div>
