.card-espece-all-faune-grid {
  padding: 1em;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px
}

//une recherche photo et nom
.card-espece-one-pic-name {
  z-index: 10;
  position: relative;
  color: #ffffff9e;
  margin-bottom: 2rem;
  display: flex;
  height: 150px;
  align-items: center;
  background-color: #669a2e14;
  transition: 0.3s ease-out;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(102, 154, 46, 0.25);
  border-right: 1px solid rgba(102, 154, 46, 0.1);
  border-bottom: 1px solid rgba(102, 154, 46, 0.1);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(25px);
}

.card-espece-one-pic-name::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}

.card-espece-one-pic-name:hover {
  background-color: rgba(102, 154, 46, 0.2);
  box-shadow: 0 8px 20px 0px rgba(102, 154, 46, 0.7);
  box-shadow: 0 8px 20px 0px #669a2e70;
  scale: 1.03;
  transform: translateY(-8px);
  color: #fff;
}

.card-espece-circle-color {
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: $vertFaune;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;

}

//img
.card-espece-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 10px;
  border: 2px solid #ffffff9e;
  transition: 0.4s ease-out;
}

.card-espece-one-pic-name:hover .card-espece-img   {
  border: 2px solid $vertFaune;
}


//nom
.card-espece-name {
 display: flex;
 justify-content: center;
}

.card-espece-one-pic-name p {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}
