.card-espece-all-faune-grid {
  padding: 1em;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px
}

//une recherche photo et nom
.card-espece-one-pic-name {
  z-index: 10;
  position: relative;
  color: #ffffff;
  margin-bottom: 2rem;
  display: flex;
  border: 3px solid $vertFaune;
  border-radius: 5px;
  height: 150px;
  align-items: center;
  background-color: #669a2e14;
  transition: 0.4s ease-out;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 20px 0px rgba(102, 154, 46, 0.33);
  backdrop-filter: blur( 5px );-webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 3px solid rgba( 255, 255, 255, 0.18 );
}

.card-espece-one-pic-name:hover {
  background-color: rgba(102, 154, 46, 0.3);
  box-shadow: 0 8px 20px 0px rgba(102, 154, 46, 0.7);
  scale: 1.03;
  transform: translateY(-8px);
}

.card-espece-circle-color {
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: $vertFaune;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;

}

//img
.card-espece-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 10px;
  border: 2px solid #fff;
}


//nom
.card-espece-name {
 display: flex;
 justify-content: center;
}

.card-espece-one-pic-name p {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}
