// ================ footer ==========================

.footer {
  height: 10vh;
  background-color: #00223A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  color: #fff;
}

.footer p {
  margin-bottom: 0;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.3rem;
}
