.faunecat-container {
  background-color: #0F2933;
}

.faunecat-categories-container {
  padding: 1em;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px
}
