// container central

.faune-home-container {
  color: #fff;
  font-family: 'ABeeZee', sans-serif;
}

// main container

.faune-main-div {
  height: 100vh;
  width: 100vw;
  background-color: aqua;
  position: relative;
}

.faune-main-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.faune-return-btn {
  position: absolute;
  top: 0;
}

.faune-return-btn img {
  height: 4rem;
  width: auto;
  margin: 30px 40px;
}

.faune-main-text-container {
  position: absolute;
  top: 30vh;
  left: 7%;
}

.faune-main-title h1 {
  font-family: 'Amatic SC', cursive;
  letter-spacing: .6rem;
  margin-bottom: 0;
  font-size: 6rem;
}

.faune-main-trait {
  content: '';
  background-color: #fff;
  height: 3px;
  width: 100px;
  margin: 2rem 0 4rem 0;
}

.faune-main-subtitle p {
  margin-bottom: 0;
  font-size: 1.6rem;
  font-family: 'ABeeZee', sans-serif;
  margin: 1rem 0;
}

// three pic

.faune-main-three-pic-container {
  height: 400px;
  width: 650px;
  content: "";
  position: absolute;
  bottom: 0;
  right: 60px;
  transform: translateY(40%);
}

.faune-main-three-pic-content {
  width: 100%;
  height: 100%;
  position: relative;
}

.faune-main-pic-left  {
  height: 275px;
  width: 250px;
  content: "";
  background-color: rgb(230, 0, 255);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 3;
  border: 7px solid #fff;
}

.faune-main-pic-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.faune-main-pic-center  {
  height: 400px;
  width: 300px;
  content: "";
  background-color: rgb(0, 255, 187);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  border: 7px solid #fff;
}

.faune-main-pic-center img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.faune-main-pic-right  {
  height: 275px;
  width: 250px;
  content: "";
  background-color: rgb(255, 170, 0);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 3;
  border: 7px solid #fff;
}

.faune-main-pic-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

// onf div

.faune-onf-container {
  background-color: #0F2933;
  display: flex;
  padding-top: 15rem;
}

.faune-onf-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.faune-onf-left-img-container {
  width: 300px;
  height: 400px;
  border: 7px solid #fff;
}

.faune-onf-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.faune-onf-picture-imformation {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.faune-onf-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 40px;
}

.patte-ours {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 500px;
  opacity: 0.13;
}

.faune-onf-right p {
  font-size: 1.6rem;
  z-index: 2;
}

.green-color {
  color: #669A2E;
}

// panorama


.faune-panorama-container {
  background-color: #0F2933;
  display: flex;
  // padding-top: 15rem;
  padding: 15rem 0;
}

.faune-panorama-left {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.faune-panorama-left p {
  width: 80%;
}

.patte-renard {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: auto;
  opacity: 0.13;
}

.faune-panorama-left p {
  font-size: 1.6rem;
  z-index: 2;
}




.faune-panorama-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.faune-panorama-right-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.faune-panorama-right img {
  height: auto;
  width: 70%;
  object-fit: fill;
  border: 7px solid #fff;
}

// que voulez vous decouvrir

.faune-decouvrir-container {
  min-height: 100vh;
  background-color: #0F2933;
}

.faune-decouvrir-title {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.faune-decouvrir-jumelle-container {
  position: relative;
}


.faune-decouvrir-jumelle-container img {
  width: 100%;
  height: auto;
}

.faune-decouvrir-jumelle-link {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
}

.faune-link-left {
  content: '';
  background-color: rgba(165, 42, 42, 0);
  width: 50%;
}

.faune-link-right {
  content: '';
  background-color: rgba(91, 165, 42, 0);
  width: 50%;
}

// maitre

.faune-maitre-container {
  min-height: 100vh;
  background-color: #0F2933;
}

.faune-maitre-title {
  text-align: center;
}

.faune-maitre-title h2 {
  display: inline-block;
  position: relative;
}

.faune-maitre-title h2::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  height: 3px;
  width: calc(100%);
}

.faune-maitre-p-container {
  // padding: 0 40px;
  display: flex;
  justify-content: center;
}

.faune-maitre-all-p {
  width: 90%;
}

.faune-maitre-p-container p {
  font-size: 1.6rem;
  padding: 3rem 0;
  margin: 0;
}

// compte

.faune-maitre-compte-container {
  display: flex;
  min-height: 100vh;
}

.faune-maitre-compte-form-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faune-maitre-compte-form {
  width: 80%;
  // border: 3px solid #669A2E;

}

.faune-maitre-form-container {
  border: 3px solid #669A2E;
  border-radius: 5px;
  padding: 30px 20px;
}

.faune-maitre-form-title {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.faune-maitre-form-container abbr {
  display: none;
}

.faune-maitre-form-container .form-actions  {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.faune-maitre-form-container .form-actions input {
  color: #fff;
  background-color: #669A2E;
  font-weight: bold;
}

// form label input
  // background-color: #0f2933;
  // color: #fff;

// .faune-maitre-form-container input {
//   background-color: #0f2933;
//   color: #fff;
// }

.faune-maitre-compte-connecter {
  border: 3px solid #669A2E;
  border-radius: 5px;
  padding: 30px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 200px;
  flex-direction: column;
}

.faune-maitre-compte-connecter p {
  margin: 0;
  font-size: 2rem;
}

.faune-maitre-compte-connecter img {
  height: 60px;
  width: auto;
}

.faune-maitre-compte-lettre {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faune-maitre-compte-lettre img {
  height: 600px;
  width: auto;
}
