.faune-show-container {
  background-color: #0F2933;
  color: #fff;
  font-family: 'ABeeZee', sans-serif;
  position: relative;
  min-height: 100vh;
}

.faune-show-back {
  position: absolute;
  top: 30px;
  left: 100px;
  z-index: 2;
}

.faune-show-back a {
  font-size: 1.5rem;
}

.faune-show-container a {
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-size: 1.3rem;
}

.faune-show-title {
  display: flex;
  justify-content: center;
  padding: 4rem 0 4rem 0;
}

.faune-show-title h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 7rem;
}

.faune-show-desc-pic {
  z-index: 2;
  position: relative;
  display: flex;
}

.faune-show-desc {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  height: fit-content;
}

.faune-show-desc-parag {
  width: 80%;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}

.faune-show-desc p::before {
  content: "";
  display: block;
  border-left: 2px solid #fff;
  padding-left: 30px; /* Espacement de 30px à gauche */
}

.faune-show-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.faune-show-pic img {
  width: 80%;
  height: auto;
  border: 7px solid #fff;
  object-fit: cover;
}
