// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "home/index";
@import "pages/index";
@import "components/index";
@import "old/index";
@import "activite/index";
@import "faune/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}


.alert.alert-info {
  color: #fff;
  background-color: #669a2e;
  border: solid 3px #fff;
}
